/* .header{
    margin:20px;
    padding: 0 20px 20px 0;
    display: flex;
    height: 150px;
    justify-content: space-between;
    border :1px solid black;
    border-radius:5px;
} */
/* .Nav{
    padding:25px;
}
.logo{
    width:250px;
    height:170px;
    object-fit:cover
}
.Nav > ul{
    display:flex;
    list-style-type:none;
    font-size:25px;
}
.Nav > ul >li{
    font-family:cursive;
    padding: 10px;
    margin: 10px;
}
.res-container{
    display:flex;
    flex-wrap:wrap; 
}
.res-card{
    background-color: gray;
    width:300px;
    margin:15px;
    border-radius:8px;
    font-family:cursive;
    overflow:hidden;
    padding:10px;

}
.res-card:hover{
    border:1px solid black;
    cursor:pointer;
}



.res-image{
    width:100%;
    object-fit:cover;
    display:block;
    border: 1px solid black;
}


.filter-btn{
    margin:20px;
    cursor:pointer;
    border-radius:8px;
    height:22px;
    font-family:cursive;

} */

/* .res-card> h3{
    font-size:16px;
    margin-top:8px;
    justify-content:center;
    align-items:center;
    word-wrap: break-word;       👈 break long names into next line 
    white-space: normal;        👈 allow wrapping 
}
.res-card > h4{
    line-height:1;
    white-space: normal;
    overflow-wrap: anywhere; 
    word-break: keep-all;  
}
.login{
    width:100px;
    height:50px;
    border-radius:8px;
    cursor:pointer;
    margin:12px;
}
.filter{
    display:flex;
    flex-wrap:wrap;
}
.type-btn{
    margin:20px;
    border-radius:5px;
}
.search-btn{
    border-radius:5px;
    border:1px solid black;
    padding:3px;
    cursor:pointer;
    font-family:cursive;
}
.login{
    font-family:cursive;
    padding:0;
}
.shimmer-container {
    display:flex;
    flex-wrap:wrap;
}
.shimmer-card {
    width: 300px;
    height: 400px;
    margin: 15px;
    border-radius: 8px;
    background-color:gray;

} */

/* 1     */

@import "tailwindcss";

